body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: large;
    padding: 0;
    background-color: #121212; /* سیاه */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 
.info {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    width: 640px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #187520; 
    border-radius: 10px;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .info__icon {
    width: 40px;
    height: 40px;
    transform: translateY(-2px);
    margin-right: 20px;
  }
  
  .info__icon path {
    fill: #fff;
  }
  
  .info__title {

    font-weight: 1000;
    font-size: 20px;
    color: #fff;
  }
  .info_1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    width: 640px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #751818;
    border-radius: 10px;
    box-shadow: 0px 0px 5px -3px #111;
  }